.top {
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 50px;
  height: 50px;
  outline: none;
  border: 1px solid #88765c;
  border-radius: 50%;
  background-color: #eee9e3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color, box-shadow, border, 350ms ease-in-out;
  z-index: 100;
}

.top:hover {
  background-color: #c3b49d;
}

.top:active {
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

.top.hidden {
  display: none;
}

@media screen and (max-width: 767px) {
  .top {
    display: none;
  }
}
